.editProfileContainer {
  width: 39%;
  margin: 0px auto;
  padding: 0px !important;
  box-sizing: border-box;
}
.generalsettingl {
  width: 70%;
  border-bottom: 1px solid #c8c8c8;
}
.editprofile-image {
  width: 25%;
  /* height: 151px; */
}
.input-heading {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 13px;
  font-family: "poppins";
}
.btn-choose-file {
  background-color: #ffffff;
  border: 1px solid #366eef;
  border-radius: 4px;
}
.btn-text {
  color: #366eef !important;
}
.editprofile-button-outer {
  width: 70%;
}

.editProfileTopHeading {
  margin-left: 0px !important;
  padding: 0px !important;
  width: 100%;
  box-sizing: border-box;
}
.editProfileHeadingTitle {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chooseProfilePicContainer {
  /* border: 2px solid red !important; */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.chooseProfilePicInnerContainer {
  border: none !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  margin-top: 25px;
}
.editProfileChooseFileButton {
  background-color: white;
  border: 1px solid #366eef;
  width: 40%;
}
.editProfileFormContainer {
  padding-left: 0px !important;
  box-sizing: border-box;
}
.editProfileFormContainerEach {
  width: 100%;
  margin: 0px !important;
  box-sizing: border-box !important;
}
.editProfileFormContainerEachInput {
  box-sizing: border-box;
  padding: 1%;
  border-radius: 4px;
  /* background-color: #366eef; */
  border: 1px solid #c8c8c8;
  font-family: "poppins-normal";
  width: 100%;
}
.poppins-normal {
  font-family: "poppins-normal";
}
.poppins-medium {
  font-family: "poppins-medium";
}
.input-down-text {
  font-size: 14px !important;
  font-family: "poppins-normal" !important;
  color: #707070 !important;
}
.editprofileSubmitButton {
  width: 100%;
  background-color: #366eef;
  border: none;
  height: 42px;
  margin-top: 28px;
  border-radius: 4px;
}
.fileinputedit {
  color: transparent;
  background-color: white !important;
}
@media only screen and (max-width: 1024px) {
  .editProfileContainer {
    width: 87%;
  }
}
@media only screen and (max-width: 480px) {
  .editProfileContainer {
    width: 93%;
  }
}
