.report-outer {
  position: fixed;

  width: 100%;
  height: 100%;
  top: 0%;

  left: 0%;
}

.report-abs-modal {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: #191919; */
  backdrop-filter: blur(0px) contrast(0.1);

  /* opacity: 0.5; */
}
.report-modal {
  position: absolute;
  width: 32.8%;
  left: 35.6%;
  background-color: white;
  opacity: 1 !important;
  top: 126px;
  border-radius: 13px;
}
.report-inner {
  width: 85.8%;
  padding: 34px 0px 41px;
  opacity: 1;
  margin: auto;
}

.reportthisitem {
  display: flex;
  justify-content: space-between;
}
.corsstext {
  color: #686868;
}
.reporttext {
  font-family: "poppins-bold";
  font-size: 18px;
  line-height: 27px;
  color: #191919;
}
.singlerowmodal {
  margin-top: 28px;
}
.singlerowmodal .label{
  font-family: "poppins-bold";
  font-size: 16px;
  line-height: 25px;
  color: #191919;
}
.singlerowmodal > select {
  width: 100%;
  border: 1px solid #c8c8c8;
  padding: 1.5%;
  margin-top: 13px;
  border-radius: 6px;
}
.makeofferbtnreport {
  width: 100%;
  background-color: #9ab6f7;
  margin-top: 34px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  height: 42px;
}
