.inputbox{
  background-color: #f8f8f8;
  width: 459px;
  height:42px;
  padding:0px;
  padding-left:10px;
  border-radius: 4px 0px 0px 4px;
  opacity: 1;
}
@media only screen and (max-width:1600px) {
    .inputbox {
      width: 75%;
    }
}

@media only screen and (min-width:700px) and (max-width:1000px){
  .inputbox{
    width:291px
  }
}
@media only screen and (min-width:1000px) and (max-width:1300px){
  .inputbox{
    width:100px
  }
}